@model CheckoutViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@using TeduCoreApp.Extensions
@{
    ViewData["Title"] = "Thanh toán đơn hàng";
}
@section Scripts {

    <script src="~/client/js/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="~/client/js/vendor/mustache/mustache.js"></script>
    <script src="~/client/app/controllers/cart/checkout.js"></script>
    <script>
        var checkoutObj = new CheckoutController();
        checkoutObj.initialize();
    </script>

    @await Html.PartialAsync("_ValidationScriptsPartial")

}

@section Styles{
    <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet" />
}

<style>

    .field-validation-error {
        color: red
    }

    .validation-summary-errors {
        color: red
    }

    li:hover {
        color: darkblue;
        cursor: pointer;
    }
</style>

<div class="breadcrumb-area gray-bg-7">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                <li class="active"> Thanh toán </li>
            </ul>
        </div>
    </div>
</div>

<div class="checkout-area pb-45 pt-65">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                @if (SignInManager.IsSignedIn(User))
                {

                    <div class="checkout-wrapper">
                        @if (ViewData["Success"] != null)
                        {
                            <div class="alert alert-success">
                                Cảm ơn bạn đã đặt hàng. Chúng tôi sẽ sớm xác nhận đơn hàng của bạn.
                                <br /> Xem chi tiết đơn hàng của bạn  <a class="alert-link" href="/thong-tin-bill.html"><h5>Tại Đây</h5></a>
                            </div>
                            @*if ((bool)ViewData["Success"] == true)
                                {

                                    <div class="alert alert-success">
                                        Cảm ơn bạn đã đặt hàng. Chúng tôi sẽ sớm xác nhận đơn hàng của bạn.
                                        <br /> Xem chi tiết đơn hàng của bạn  <a class="alert-link" href="/thong-tin-bill.html"><h5>Tại Đây</h5></a>
                                    </div>

                                }
                                else
                                {
                                    <div class="alert alert-danger">
                                        Có một lỗi trong tiến trình đặt hàng. Vui lòng liên hệ với quản trị viên. (0967422230)
                                    </div>

                                }*@

                        }
                        else
                        {
                            <form id="frmCheckout" action="/checkout.html" method="post">
                                @Html.AntiForgeryToken()
                                <div id="faq" class="panel-group">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h5 class="panel-title"><span>1.</span> <a data-toggle="collapse" data-parent="#faq" href="#payment-2">Thông tin thánh toán</a></h5>
                                        </div>
                                        <div id="payment-2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="billing-information-wrapper">
                                                    <div class="row">
                                                        <input type="hidden" id="ddlCustomerId" value="@User.GetSpecificClaim("UserId")">
                                                        <div class="col-lg-6 col-md-6">
                                                            <div class="billing-info">
                                                                <label asp-for="CustomerName"></label>
                                                                <input class="input form-control" placeholder="Nhập họ tên" type="text" asp-for="CustomerName">
                                                                <span asp-validation-for="CustomerName"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6">
                                                            <div class="billing-info">
                                                                <label asp-for="CustomerMobile"></label>
                                                                <input class="input form-control" placeholder="Nhập điện thoại" type="tel" asp-for="CustomerMobile">
                                                                <span asp-validation-for="CustomerMobile"></span>
                                                            </div>
                                                        </div>
                                                        <input type="hidden" asp-for="CustomerAddress">
                                                        <div class="col-lg-3 col-md-6">
                                                            <div id="divProvince" class="billing-info">
                                                                <label asp-for="Province"></label>
                                                                <input value="Thành phố Hồ Chí Minh" asp-for="Province" id="Province" class="input form-control" placeholder="Tỉnh, Thành Phố" data-toggle="dropdown" type="text">
                                                                <span asp-validation-for="Province"></span>

                                                                <ul style="overflow: scroll; width: 250px; height:400px;" class="dropdown-menu province" id="tbl-province-details">
                                                                </ul>
                                                                <script id="template-table-province-details" type="x-tmpl-mustache">
                                                                    <li><a class="province">{{{Name}}}</a></li>
                                                                </script>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-3 col-md-6">
                                                            <div class="billing-info">
                                                                <label asp-for="District"></label>
                                                                <input value="Quận 1" asp-for="District" id="District" class="input form-control" placeholder="Quận, Huyện" data-toggle="dropdown" type="text">
                                                                <span asp-validation-for="District"></span>
                                                                <ul style="overflow: scroll; width: 250px; height:400px;" class="dropdown-menu district" id="tbl-district-details">
                                                                </ul>
                                                                <script id="template-table-district-details" type="x-tmpl-mustache">
                                                                    <li><a>{{{Name}}}</a></li>
                                                                </script>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-3 col-md-6">
                                                            <div class="billing-info">
                                                                <label asp-for="Ward"></label>
                                                                <input asp-for="Ward" id="Ward" class="input form-control" placeholder="Phường" data-toggle="dropdown" type="text">
                                                                <span asp-validation-for="Ward"></span>
                                                                <ul style="overflow: scroll; width: 250px; height:400px;" class="dropdown-menu ward" id="tbl-ward-details">
                                                                </ul>
                                                                <script id="template-table-ward-details" type="x-tmpl-mustache">
                                                                    <li><a>{{{Name}}}</a></li>
                                                                </script>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-3 col-md-6">
                                                            <div class="billing-info">
                                                                <label asp-for="Street"></label>
                                                                @*disabled*@
                                                                <input asp-for="Street" id="Street" class="input form-control" placeholder="Đường" data-toggle="dropdown" type="text">
                                                                <span asp-validation-for="Street"></span>
                                                                <ul style="overflow: scroll; width: 250px; height: 400px;" class="dropdown-menu street" id="tbl-street-details">
                                                                </ul>
                                                                <script id="template-table-street-details" type="x-tmpl-mustache">
                                                                    <li><a>{{{Name}}}</a></li>
                                                                </script>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-12 col-md-12">
                                                            <div class="billing-info">
                                                                <label asp-for="CustomerMessage"></label>
                                                                <textarea class="input form-control" cols="3" placeholder="Nhập tin nhắn" type="text" asp-for="CustomerMessage"></textarea>
                                                                <span asp-validation-for="CustomerMessage"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h5 class="panel-title"><span>2.</span> <a data-toggle="collapse" data-parent="#faq" href="#payment-5">Hình thức thanh toán</a></h5>
                                        </div>
                                        <div id="payment-5" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="payment-info-wrapper">
                                                    <div class="ship-wrapper mb-10">
                                                        <div class="title-wrap">
                                                            <h4 class="cart-bottom-title section-bg-white">Chọn hình thức thanh toán</h4>
                                                        </div>
                                                    </div>
                                                    <div class="payment-info">
                                                        <div class="row">
                                                            @{
                                                                int IntPayment = 0;
                                                            }

                                                            @for (int i = 0; i < Model.PaymentMethods.Count; i++)
                                                            {
                                                                <div class="col-3">
                                                                    <label asp-for="@Model.PaymentMethods[i].Value">
                                                                        @*name="paymentMethod" asp-for="PaymentMethod" value="@Model.PaymentMethods[i].Value"*@
                                                                        @*<input id="PaymentMethod" type="hidden" asp-for="PaymentMethod" />*@
                                                                        <input style="width: 50px; height: 50px" type="radio" asp-for="PaymentMethod" class="form-inline" value="@Model.PaymentMethods[i].Value" * />
                                                                        @Model.PaymentMethods[i].Name
                                                                    </label>
                                                                </div>

                                                                IntPayment++;
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Phuong Thuc Giao Hang-->
                                    @*<div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h5 class="panel-title"><span>3.</span> <a data-toggle="collapse" data-parent="#faq" href="#payment-6">Phương Thức Giao Hàng</a></h5>
                                            </div>
                                            <div id="payment-6" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <div class="billing-information-wrapper">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-6">
                                                                <div class="billing-info">
                                                                    <label>Nhà Vận Chuyển</label>
                                                                    <input id="Carriers" class="input form-control" placeholder="Chọn Hãng" data-toggle="dropdown" type="text">
                                                                    <ul style="overflow: scroll; width: 250px; height: 100px" class="dropdown-menu carriess" id="template-shipcode">
                                                                    </ul>
                                                                    <script id="template-table-shipcode" type="x-tmpl-mustache">
                                                                        <li><a data-id="{{IdCarriers}}">{{{Carriers}}}</a></li>
                                                                    </script>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <input id="ShipCodeId" asp-for="ShipCodeId" type="hidden" />
                                                            </div>
                                                            <div class="col-lg-3 col-md-6">
                                                                <div class="billing-info">
                                                                    <label>Chi Phí Vận Chuyển</label>
                                                                    <input id="CollectionFee" class="input form-control" data-toggle="dropdown" type="text" disabled>
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-3 col-md-6">
                                                                <div class="billing-info">
                                                                    <label>Mã Bưu Chính</label>
                                                                    <input id="ZipCode" class="input form-control" data-toggle="dropdown" type="text" disabled>
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-3 col-md-6">
                                                                <div class="billing-info">
                                                                    <label>VAT</label>
                                                                    <input id="VAT" class="input form-control" data-toggle="dropdown" value="10%" type="text" disabled>
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-3 col-md-6">
                                                                <div class="billing-info">
                                                                    <label>Thời Gian Giao</label>

                                                                    <input id="DiliveryTime" type="text" disabled>
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-3 col-md-6">
                                                                <div class="billing-info">
                                                                    <label>Tổng Chi Phí Vận Chuyển: </label>
                                                                    <input id="Total" class="input form-control" data-toggle="dropdown" type="text" disabled>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h5 class="panel-title"><span>3.</span> <a data-toggle="collapse" data-parent="#faq" href="#payment-4">Chi Phí Vận Chuyển</a></h5>
                                        </div>
                                        <div id="payment-4" class="panel-collapse collapse ">
                                            <div class="panel-body">
                                                <div class="shipping-method-wrapper">
                                                    <div class="shipping-method">
                                                        <p class="text-center">Chi Phí Vận Chuyển</p>
                                                        <p class="text-center">Fixed $40.00</p>
                                                    </div>
                                                    <div class="billing-back-btn">
                                                        <div class="billing-back">
                                                            <a href="#"><i class="ion-arrow-up-c"></i> back</a>
                                                        </div>
                                                        <div class="billing-btn">
                                                            <button type="submit">Continue</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h5 class="panel-title"><span>4.</span> <a data-toggle="collapse" data-parent="#faq" href="#payment-6">Chi tiết đơn hàng</a></h5>
                                        </div>
                                        <div id="payment-6" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="order-review-wrapper">
                                                    <div class="order-review">
                                                        <div class="table-responsive">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="width-1">Hỉnh ảnh</th>
                                                                        <th class="width-1">Tên sản phẩm</th>
                                                                        <th class="width-2">Giá</th>
                                                                        <th class="width-3">Số lượng</th>
                                                                        <th class="width-4">Tổng tiền</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var item in Model.Carts)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                <div class="o-pro-dec">
                                                                                    <a href="/@item.Product.SeoAlias-p.@(item.Product.Id).html"><img src="@item.Product.Image" width="100" height="100" alt="@item.Product.Name"></a>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div class="o-pro-dec">
                                                                                    <p class=""><a href="/@item.Product.SeoAlias-p.@(item.Product.Id).html">@item.Product.Name </a></p>
                                                                                    <small><a href="#">Color : @item.Color.Name</a></small><br>
                                                                                    <small><a href="#">Size : @item.Size.Name</a></small>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div class="o-pro-price">
                                                                                    <p>@item.Price.ToString("N0")</p>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div class="o-pro-qty">
                                                                                    <p>@item.Quantity</p>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div class="o-pro-subtotal">
                                                                                    <p>@((item.Price * item.Quantity).ToString("N0")) </p>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                                <tfoot>
                                                                    <tr>
                                                                        <td colspan="3">Tổng tiền: </td>
                                                                        <td colspan="2" class="text-danger">@Model.Carts.Sum(x => x.Quantity * x.Price).ToString("N0")</td>
                                                                    </tr>
                                                                    <tr class="tr-f">
                                                                        <td colspan="3">Vận chuyển: </td>
                                                                        <td colspan="2">Miễn phí vận chuyển trong bán kính 15km</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="3">Tổng thanh toán: </td>
                                                                        <td colspan="2" class="text-danger">@Model.Carts.Sum(x => x.Quantity * x.Price).ToString("N0")</td>
                                                                    </tr>
                                                                </tfoot>
                                                            </table>
                                                        </div>
                                                        <div class="billing-back-btn">
                                                            <span>
                                                                Bạn quên đồ?
                                                                <a href="" onclick="window.location.href='/cart.html'"> Quay lại giỏ hàng.</a>
                                                            </span>
                                                            <div class="billing-btn">
                                                                <button @*id="remove-cart-all"*@ type="submit">Thanh toán</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        }
                    </div>
                }
                else
                {
                    <div>
                        <div class="alert alert-danger" role="alert">
                            Bạn phải đăng nhập <a class="alert-link" href="/dang-nhap.html">Tại Đây</a> để thanh toán!!!!
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>