@using TeduCoreApp.Extensions;
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/ico" />

    <title>Trang quản trị! | </title>

    <link href="~/admin/js/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/admin/js/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/admin/js/vendors/nprogress/nprogress.css" rel="stylesheet">
    <link href="~/admin/js/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <link href="~/admin/js/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <link href="~/admin/js/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <link href="~/admin/js/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="~/admin/js/vendors/syncfusion-javascript/Content/ej/web/bootstrap-theme/ej.web.all.min.css" rel="stylesheet" />
    <link href="~/admin/js/vendors/syncfusion-javascript/Content/ej/web/responsive-css/ej.responsive.css" rel="stylesheet" />
    <link href="~/admin/js/vendors/syncfusion-javascript/Content/ej/web/responsive-css/ejgrid.responsive.css" rel="stylesheet" />
    <link href="~/admin/js/vendors/syncfusion-javascript/Content/ej/web/ej.widgets.core.bootstrap.min.css" rel="stylesheet" />

    <!-- Datatables -->

    <link href="cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">

    <link href="~/admin/js/vendors/datatables.net-bs/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/admin/js/vendors/datatables.net-bs/css/dataTables.bootstrap.css" rel="stylesheet">
    <link href="~/admin/js/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.css" rel="stylesheet">
    <link href="~/admin/js/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.css" rel="stylesheet">
    <link href="~/admin/js/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.css" rel="stylesheet">
    <link href="~/admin/js/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.css" rel="stylesheet">

    <!-- sweetalert2 -->
    <link href="~/admin/js/vendors/sweetalert2/dist/sweetalert2.css" rel="stylesheet" />

    <!-- Notifyjs Style -->
    <link href="~/admin/js/vendors/notifyjs/dist/styles/metro/notify-metro.css" rel="stylesheet" />

    <!-- Custom Theme Style -->
    <link href="~/admin/build/css/custom.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="admin/home/" class="site_title"><i class="fa fa-paw"></i> <span>Trang Quản Trị!</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="@User.GetSpecificClaim("Avatar")" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>@User.GetSpecificClaim("FullName")</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    @await Component.InvokeAsync("SideBar")
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                @await Html.PartialAsync("_LoginPartial")
                            </li>
                            <!--Partial-->
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">

                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Được phát triển bởi <a href="https://ppweb.com">ppweb</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/admin/js/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/admin/js/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="~/admin/js/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/admin/js/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/admin/js/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="~/admin/js/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/admin/js/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/admin/js/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="~/admin/js/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="~/admin/js/vendors/Flot/jquery.flot.js"></script>
    <script src="~/admin/js/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/admin/js/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/admin/js/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/admin/js/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/admin/js/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/admin/js/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/admin/js/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/admin/js/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="~/admin/js/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/admin/js/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/admin/js/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/admin/js/vendors/moment/min/moment.min.js"></script>
    <script src="~/admin/js/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!--tws-Paging-->
    <script src="~/admin/js/vendors/twbs-pagination/jquery.twbsPagination.js"></script>
    <!--jquery validate-->
    <script src="~/admin/js/vendors/jquery-sparkline/dist/jquery.sparkline.js"></script>
    <script src="~/admin/js/vendors/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/admin/js/vendors/jquery-validation/dist/additional-methods.js"></script>
    <script src="~/admin/js/vendors/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <!--Mustache-->
    <script src="~/admin/js/vendors/mustache/mustache.js"></script>

    <!--Syncfusion-->
    @* <script src="~/admin/js/vendors/jsondata/jsondata.min.js"></script>*@
    <script src="~/admin/js/vendors/jsrender/jsrender.min.js"></script>

    <script src="~/admin/js/vendors/syncfusion-javascript/Scripts/ej/web/ej.web.all.min.js"></script>
    @*<script src="~/client/js/ejs/properties.js"></script>
        <ej-script-manager></ej-script-manager>*@

    <!-- Datatables -->
    <script src="~/admin/js/vendors/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/admin/js/vendors/datatables.net-bs/js/dataTables.bootstrap.js"></script>
    <script src="~/admin/js/vendors/datatables.net-buttons/js/dataTables.buttons.js"></script>
    <script src="~/admin/js/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
    <script src="~/admin/js/vendors/datatables.net-buttons/js/buttons.flash.js"></script>
    <script src="~/admin/js/vendors/datatables.net-buttons/js/buttons.html5.js"></script>
    <script src="~/admin/js/vendors/datatables.net-buttons/js/buttons.print.js"></script>
    <script src="~/admin/js/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.js"></script>
    <script src="~/admin/js/vendors/datatables.net-keytable/js/dataTables.keyTable.js"></script>
    <script src="~/admin/js/vendors/datatables.net-responsive/js/dataTables.responsive.js"></script>
    <script src="~/admin/js/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/admin/js/vendors/datatables.net-scroller/js/dataTables.scroller.js"></script>
    <script src="~/admin/js/vendors/jszip/dist/jszip.js"></script>
    <script src="~/admin/js/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/admin/js/vendors/pdfmake/build/vfs_fonts.js"></script>

    <environment names="Development">
        <script src="~/admin/app/shared/tedu.js"></script>
    </environment>

    <!--Script Sweetaler2-->
    <script src="~/admin/js/vendors/sweetalert2/dist/sweetalert2.js"></script>

    <!-- Notifyjs Scripts -->
    <script src="~/admin/js/vendors/notifyjs/dist/notify.js"></script>
    <script src="~/admin/js/vendors/notifyjs/dist/styles/metro/notify-metro.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="~/admin/build/js/custom.min.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="~/admin/js/vendors/ckeditor/ckeditor.js"></script>
    <!--Boobox-->
    <script src="~/admin/js/vendors/bootbox/bootbox.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>